@import "Pages/mixins";
@import "Pages/variables";

.navDiv,
.navDivLeft {
  @include flexProps;
}

.navDivRight {
  display: flex;
  align-items: center;
  gap: 20px;
}

.headingBelowNav {
  @include flexProps;
  button {
    @include buttonProps(#00b686, #ffffff, none, 5px, 40px);
    width: 147px;
  }
}

.profileDiv {
  img:nth-child(2) {
    @include positions(101px, 289px);
    border-radius: 10px;
  }
}

.headingDiv {
  @include positions(null, 400px);
  color: #233735;
  display: flex;
  align-items: center;
  img {
    @include positions(1170px, null);
  }
}

.headersDiv {
  display: flex;
  align-items: center;
  @include positions(null, 475px);
  .headersDivLeft {
    display: flex;
    align-items: center;
    gap: 8px;
    button {
      @include buttonProps(null, #657372, 1px solid #bdc3c2, 3px, 30px);
      font-weight: 600;
      &:nth-child(1) {
        @include buttonProps(null, #00b686, 1px solid #bdc3c2, 3px, 30px);
      }
    }
  }
  .headersDivRight {
    @include positions(1270px, null);
    width: 200px;
    button {
      @include buttonProps(null, #657372, 1px solid #bdc3c2, 3px, 30px);
      font-weight: 600;
    }
  }
}

.mainDiv {
  @include positions(31px, 555px);
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;

  .overview {
    width: 198px;
    position: absolute;
    ul {
      list-style-type: none;
      color: #7b8786;
    }
  }

  .companyProfile {
    display: flex;
    align-items: center;
    h3 {
      @include positions(235px, 0);
      width: 150px;
      color: #233735;
    }
    img {
      @include positions(1290px, 0);
    }
  }
  .msgShareBtn {
    @include positions(230px, 70px);
  }
}
